@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 1;

    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease;

        /* .header__logo {
            opacity: 0;
        }
        .header__links__item:first-child {
            opacity: 0;
        } 
        substituído por:*/
        .header {            
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease;
            }
        }
    }

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width: variaveis.$breakpointTablet) {
            padding: 0 12px 0;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;

        @media (max-width: variaveis.$breakpointTablet) {
            max-width: 64px;
        }
    }

    &__links { // ul
        display: flex;

        &__item {
            margin: 5px;
            transition: opacity .5s ease;

            a {
                text-decoration: none;
            }
        }
    }

    .button {
        height: 50px;
    }
}

.hidden {
    visibility: hidden;
}